spring:
  servlet:
    multipart:
      # TODO: Increased default size for production: 25MB is a practical limit for a single Lambda invocation
      max-file-size: 25MB
      max-request-size: 25MB

server:
  port: 8080

logging:
  level:
    root: INFO
